@import "~@angular/material/theming";

@include mat-core();

/* ======== Angular material custom themes ======== */
$primary: mat-palette($mat-green, 500);
$accent: mat-palette($mat-pink, 100, 500, A100);
$warn: mat-palette($mat-lime);

$custom-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($custom-theme);
