@import "material-theme.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 1050px;
  max-width: 100%;
  margin: 0 auto;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 40px 50px;
  background-color: white;
}

//Theming Material Components

button[mat-raised-button] {
  background-color: mat-color($primary);
  color: white;
}

mat-sidenav[style] {
  visibility: visible !important;
}

.mat-drawer {
  transform: none !important;
}

//classes

.full-width {
  width: 100%;
}

.font-capital {
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .full-width-mobile {
    width: 100%;
  }
}
