@import "material-theme.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

a {
  color: map-get($primary, 400);
}

main {
  height: 100%;
  padding: 50px 25px;
  width: 1050px;
  max-width: 100%;
  margin: 0 auto;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 40px 50px;
  background-color: white;
}

//Theming Material Components

button[mat-raised-button] {
  background-color: mat-color($primary);
  color: white;
}

mat-sidenav[style] {
  visibility: visible !important;
}

.mat-drawer {
  transform: none !important;
}

mat-card {
  min-height: 100vh;
  width: clamp(400px, 900px, 100vw);
  padding: 0 !important;
  margin: auto;
}

mat-card-content {
  padding: 35px 50px 100px;
}

mat-card-title {
  background-color: mat-color($primary);
  color: white;
  padding: 35px 50px;
  margin: 0 !important;
  width: 100%;
}

//classes

.full-width {
  width: 100%;
}

.margin-left {
  margin-left: 25px;
}

.font-capital {
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .full-width-mobile {
    width: 100%;
  }
}

@media print {
  .hidden-on-print {
    display: none !important;
  }

  .print-page-break-before {
    display: block !important;
    position: relative !important;
    page-break-inside: avoid !important;
    break-inside: avoid !important;
    page-break-after: always !important;
    float: none !important;
    border: none !important;
  }
  mat-card {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
  }
}

.print-page-break-before {
  display: block !important;
  position: relative !important;
  page-break-inside: avoid !important;
  break-inside: avoid !important;
  page-break-after: always !important;
  float: none !important;
  border: none !important;
}
