mat-expansion-panel {
  max-width: 100%;
  img {
    height: 250px;
    padding: 0 0 25px 25px;
    float: right;
    object-fit: cover;
    object-position: center;
  }

  p {
    text-align: justify;
  }
}

mat-expansion-panel + button {
  height: 48px;
}

mat-panel-title {
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  height: 50px;
  line-height: 50px;
}

.mat-expansion-panel-body {
  padding-top: 15px !important;
}

@media screen and (max-width: 800px) {
  #time-rating {
    display: none;
  }
}
