<mat-card>
  <mat-card-title class="mat-display-2 hidden-on-print"
    >Vegan Meal Generator</mat-card-title
  >

  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="35px">
      <div
        *ngFor="let meals of mealTypes; index as i"
        fxLayout="column"
        fxLayoutGap="15px"
      >
        <h1 class="font-capital">
          {{ mealService.MEALTYPES[i].name }}
        </h1>
        <div
          fxLayout.xs="column"
          fxLayout="row"
          fxLayoutGap="15px"
          fxLayoutAlign="start start"
        >
          <mat-expansion-panel fxFlex="1 2 auto">
            <mat-expansion-panel-header
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <mat-panel-title
                fxLayoutAlign="start center"
                class="font-capital"
              >
                {{ meals[mealIndices[i]].title }}</mat-panel-title
              >
              <mat-panel-description
                fxFlex="45"
                fxFlex.xs="35"
                fxLayoutAlign="flex-end center"
              >
                <div>
                  <ng-container
                    *ngFor="
                      let star of getRecipeRating(
                        meals[mealIndices[i]].spoonacularScore,
                        100
                      )
                    "
                    [ngSwitch]="star"
                  >
                    <i *ngSwitchCase="0.5" class="material-icons">star_half</i>
                    <i *ngSwitchCase="1" class="material-icons">star</i>
                    <i *ngSwitchDefault class="material-icons">star_border</i>
                  </ng-container>
                </div>
                <div id="time-rating" class="margin-left">
                  <ng-container
                    *ngFor="
                      let time of getRecipeRating(
                        meals[mealIndices[i]].readyInMinutes,
                        60,
                        3
                      )
                    "
                    [ngSwitch]="time"
                  >
                    <i *ngSwitchCase="1" class="material-icons">watch_later</i>
                    <i *ngSwitchDefault class="material-icons">schedule</i>
                  </ng-container>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="mat-expansion-panel-body">
              <img [src]="meals[mealIndices[i]].image" />
              <p [innerHTML]="meals[mealIndices[i]].summary">
                {{ meals[mealIndices[i]].summary }}
              </p>
            </div>

            <mat-action-row fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                <strong>Time: </strong>
                {{ displayTime(meals[mealIndices[i]].readyInMinutes) }}
              </div>
              <a
                mat-raised-button
                [href]="meals[mealIndices[i]].sourceUrl"
                target="_blank"
              >
                Zum Rezept
              </a>
            </mat-action-row>
          </mat-expansion-panel>
          <button
            mat-stroked-button
            (click)="getNewRecipe(i)"
            class="full-width-mobile hidden-on-print"
          >
            <a class="mobile-only">Get Random </a>
            <i class="material-icons">shuffle</i>
          </button>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="25px" class="hidden-on-print">
        <button fxFlex="50" mat-stroked-button (click)="getRandomRecipes()">
          Get new Recipes
          <i class="material-icons">shuffle</i>
        </button>
        <button fxFlex="50" mat-raised-button (click)="preparePrint()">
          Print Meal Plan
          <i class="material-icons"> print</i>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
