mat-expansion-panel {
  img {
    height: 250px;
    object-fit: cover;
  }

  img:last-child:nth-child(odd) {
    width: 100%;
    max-width: unset !important;
  }
}

mat-expansion-panel + button {
  height: 48px;
}

ngb-rating {
  color: #ffc107;
  font-size: 80px;
}
